# Server only. 9 minutes plus the mod's 1-minute warning = about 10 minutes.
# Empty entity whitelist protects every non-item entity.
general {
    B:AutomaticRemoval=true
    B:EffectsOnSP=true
    S:EntityBlackList <
     >
    I:EntityInterval=9
    S:ItemBlackList <
     >
    I:PerChunkSpawnLimit=0
    I:TPSForUnload=0
    B:ToggleEntityBlacklist=false
    B:ToggleItemBlacklist=true
    I:UnloadInterval=15
}
breeding {
    I:CrowdLimit=20
    B:PoliceCrowding=false
}
